:root {
  --head-color: #2e2f42;
  --text-color: #434455;
  --sub-text-color: #8e8f99;
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --light-back-color: #f4f4fd;
  --modal-background-color: #fcfcfc;
  --white-color: #ffffff;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--white-color);
  color: var(--text-color);
}

/* Header  */

.page-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e7e9fc;
}

.page-nav {
  display: flex;
  align-items: center;
  column-gap: 76px;
}

.menu {
  display: flex;
  gap: 40px;
}

.menu-item {
  padding: 24px 0;
}

.page-contacts {
  display: flex;
  gap: 40px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;

  color: var(--primary-brand-color);
}

.part-logo {
  color: var(--head-color);
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;

  color: var(--primary-brand-color);
}

.part-logo-footer {
  color: var(--light-back-color);
}

.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--head-color);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--pressed-state-color);
}

.contacts {
  font-style: normal;
  margin-left: auto;
}

.menu-contact-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--text-color);
}

.menu-contact-link:hover,
.menu-contact-link:focus {
  color: var(--pressed-state-color);
}

.page-header-container {
  display: flex;
  align-items: center;
}

/* Hero section  */

.page-hero-section {
  display: flex;
  flex-direction: column;
}

.hero-section {
  background-color: var(--head-color);
  padding: 188px 0;
}

.main-head {
  text-align: center;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;

  color: var(--white-color);
}

.modal-button-main {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  height: 56px;
  min-width: 169px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;

  border: none;
  color: var(--white-color);
  background-color: var(--primary-brand-color);
}

.modal-button-main:hover,
.modal-button-main:focus {
  background-color: var(--pressed-state-color);
}

/* features section  */

.features-list {
  display: flex;
  gap: 24px;
}

.features-list-item {
  width: calc((100% - 72px) / 4);
}

.modal-button-portfolio {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: var(--primary-brand-color);
  background-color: var(--light-back-color);
}

.modal-button-portfolio:hover,
.modal-button-portfolio:focus {
  color: var(--white-color);
  background-color: var(--pressed-state-color);
}

.list-head,
.head-list {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;

  color: var(--head-color);
}

.text-descr,
.description {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

/* What are we doing section */

.occup-section {
  padding-bottom: 120px;
}

.page-occup-list {
  display: flex;
  flex-direction: column;
}

.occup-list {
  display: flex;
  gap: 24px;
}

.occup-list-item {
  flex-basis: calc((100% - 48px) / 3);
}

/* Our team section  */

.sec-head {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  /* padding: 120px 0; */
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;

  color: var(--head-color);
}

.page-team-section {
  display: flex;
  flex-direction: column;
  background-color: var(--light-back-color);
}

.team-section {
  background-color: var(--light-back-color);
}

.team-list {
  display: flex;
  gappx: 24px;
}

.team-list-item {
  background-color: var(--white-color);
  flex-basis: calc((100%-72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.team-list-img {
}

.team-list-text {
  padding: 32px 16px;
}

.page-footer-section {
}

.footer-section {
  background-color: var(--head-color);
  padding: 100px 0;
}

.text-descr-footer {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.color-footer {
  color: var(--light-back-color);
}
